<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Test" value = "http://test.aurena.com" />
    <add key ="Prod" value = "" />
    <add key ="FrontpageUrl" value = "/" />
    <add key ="AboutPageUrl" value = "/about-page" />
    <add key ="SignUpPageUrl" value = "/sign-up-page" />
    <add key ="TestAthletePageUrl" value = "/athletes/test-athlete" />
  </appSettings>
</configuration>